<style>
    #footerContainer {
        display: flex;
        width: 100%;
        text-align: center;
        background-color: rgb(255, 255, 204);
    }
    #footerLeft {
        width: 49.9999%;
    }
    #footerRight {
        width: 49.9999%;
    }
</style>

<hr>
<footer>
    <div id="footerContainer">
        <div id="footerLeft">
            푸우터어 Left
        </div>
        <div id="footerRight">
            푸우터어 Right
        </div>
    </div>
</footer>