<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>- 공 지 사 항 -</h1>
        오전 05까지 업데이트 예정입니다.
        <input type="checkbox" id="chk" onclick="window.close()" />
        <label for="chk">하루동안 열지 않음</label>
    </body>
</html>