<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h3>quiz 페이지 입니다</h3>
        <% console.log( userCookie ) %>
        <% if (userCookie == undefined) { %>
            <script>
                const opt = "width=300, height=200, top=500, left=500";
                window.open("/cookie/popup", "", opt);
            </script>
        <% } else { %>
            쿠키가 있다.
        <% } %>
    </body>
</html>