<style>
    #fo {
        margin: auto;
        text-align: center;
    }
</style>

<form id="fo" action="/member/join" method="post">
    I D : <input type="text" name="id" placeholder="Input ID" required><br>
    P W : <input type="password" name="pw" placeholder="Input PW" required><br>
    이름 : <input type="text" name="name" placeholder="Input NAME" required><br>
    주소 : <input type="text" name="addr" placeholder="Input ADDR" required><br>
    <input type="submit" value="회원가입">
</form>