<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <form action="/member/register" method="post">
            <input type="text" name="id", placeholder="Input ID"><br>
            <input type="text" name="pwd", placeholder="Input PWD"><br>
            <input type="text" name="name", placeholder="Input NAME"><br>
            <input type="text" name="addr", placeholder="Input ADDR"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>