<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <h1>개 인 정 보</h1>
        <b>아이디</b> : <%= user.id %><br>
        <b>이름</b> : <%= user.name %><br>
        <b>주소</b> : <%= user.addr %><br>
        <hr>
        <a href="/"></a>
    </body>
</html>