<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <table border="1">
            <thead>
                <tr><th>아이디</th><th>이름</th><th>주소</th></tr>
            </thead>

            <tbody>
                <% for(i = 0; i < member.length; i++) { %>
                    <tr>
                        <td><%= member[i].id %></td>
                        <td><a href="/member/info?id=<%= member[i].id %>"><%= member[i].name %></a></td>
                        <td><%= member[i].addr %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>