<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <script src="/static/js/image_read.js"></script>
    </head>

    <body>
        <form action="/file/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="title"><br>
            <img src="" id="preview" width="100" height="100" alt="이미지가 없습니다."><br>
            <input type="file" name="file_name" onchange="readURL(this)"><br>
            <input type="submit" value="전송">
        </form>
        <a href="/file/list">파일 목록</a>
    </body>
</html>