<h1>단순 for로 출력</h1>
<% context.rank.forEach( (v, i) => { %>
    <%= v %><br>
<% } ); %>
<hr>

<h1>이중 for로 출력</h1>
<table border="1">
    <% for (i = 0; i < context.rank.length; i++) { %>
        <tr>
        <% for (j = 0; j < context.rank[i].length; j++) { %>
            <td><%=context.rank[i][j]%></td>
        <% } %>
        </tr>
    <% } %>
</table>
<hr>

