<h1>index 페이지 입니다.</h1>

<a href="/login">login</a><br>
<a href="/logout">logout</a><br>
<a href="/member">member</a><br>
<a href="/for">for</a><br>
<a href="/for_quiz">for_quiz</a><br>
<a href="/if">if</a><br>
<a href="/url">url</a><br>
<a href="/site">site</a><br>
<hr>
<%= key %>